<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobnotes"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"
            >

        </activity>

        <activity
            android:name=".PriortyScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".ReportForms"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".ReportListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".MyGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"/>
        <service android:name=".service.BackgroundReportRefresh"/>
        <!--<activity android:name=".Fragments.DashBoardFragment"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->


        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>